/Entitlements.plist
Pods/Documentation
Pods/Pods.xcodeproj/*.mode1v3
Pods/Pods.xcodeproj/*.mode2v3
Pods/Pods.xcodeproj/*.pbxuser
Pods/Pods.xcodeproj/*.perspectivev3
Pods/Pods.xcodeproj/project.xcworkspace
Pods/Pods.xcodeproj/xcuserdata
Pods/Documentation/
/build
KanjiMe/KanjiMe/SupportKeys.h
